@font-face {
  font-family: norse;
  src: url(../fonts/Norse-Bold.otf);
}

:root {
  --create-button: #596D48;
  --input-border: #E5E7EB;
}
body {
  background-color: rgb(240, 240, 240);
  display: flex;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  --viewport-resize: 7vw;

  background-image: url(../images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position: center;

  width: 30vw;
  padding-top: 100px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
}
.logo {
  display: flex;
  justify-content: center;
  
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.448);
  margin-bottom: auto;
}
.logo img {
  width: min(70px, var(--viewport-resize));
  flex: none;
}
.site-name {
  font-family: norse;
  color: white;
  align-self: center;
  font-size: min(4.8rem, var(--viewport-resize));
}
.credits p {
  margin: 0;
  font-size: min(.8rem, 1.5vw);
  color: rgba(255, 255, 255, 0.715);
  text-align: center;
}
.credits a {
  color: inherit;
}

main {
  width: 70vw;
}